<% if current_user %>
	<% if current_user.misses.empty? %>
		<h3> 'Wow, you need to get out more dude. Like seriously...' </h3>

	<% else %>

		<ul class="bulletins">
		<% @bulletins.each do |bulletin| %>

			<li><%= bulletin.message_randomizer.html_safe %></li>

		<% end %>
		</ul>

	<% end %>

<% end %>