<% if current_user %>
	<% if current_user.misses.empty? %>
		<h3> 'Wow, you need to get out more dude. Like seriously...' </h3>

	<% else %>

		<% @bulletins.each do |bulletin| %>

			<li><%= bulletin.message_randomizer %></li>
			
		<% end %>

	<% end %>

<% end %>