<h1>Homepage</h1>
<div class="controls">
  <form>
    <%= select "user", User.all.collect {|p| [p.moves_oauth_credentials.uid, p.id]}, {}, {class: 'user_id'} %>
    <%= current_user.moves_oauth_credentials.uid %>
  </form>
</div>
