@import "_branding"

*
	box-sizing: border-box

img
	max-width: 100%

body, html
	background-image: url(p1180711.jpg)
	background-position: 5.75% 0
	width: 100%
	position: relative

	@extend .standard-font
	font-size: 20px
	color: black
	line-height: 1.4

.mist
	width: 100%
	height: 100%

	position: relative
	background-image: linear-gradient(to bottom, #1D4E6B 0%, #112F41 100%)

a
	color: #333333
	text-decoration: none

section.wrapper
	position: relative
	max-width: 768px
	width: 100%
	min-height: 100%
	margin: 0px auto
	padding: 0px 20px

#brand_name
	margin: 0
	@extend .title-font


nav .main_nav
	padding: 0px
	margin: 0px

nav.navbar	
	background-color: #333333
	overflow: auto


	ul
		margin: 0

		li
			&.logout a
				border: 2px solid white
				border-radius: 10px

			a
				float: right
				color: white
				padding: 10px
				margin: 10px



